{% extends 'base_home.html'%}


{% block head %}
<title>Analisis Inteligentes de datos</title>
{% endblock %}


{% block body %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bievenido {{current_user.username}}!!!</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>

  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

  <h2>(Base de datos AdventureWorks2017)</h2>
  <div class="table-responsive">
    <table id="tbl_ad" class="table table-striped table-sm table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Pais</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <h2>(Base de datos Progressql dvdrental)</h2>
  <div class="table-responsive">
    <table id="tbl_dvd" class="table table-striped table-sm table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Pais</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  
  <div class="card border-bottom text-white bg-primary">
    <div class="card-header">
      Analisis de datos 
    </div>
    <div class="card-body">
      <h5 class="card-title">Nueva Base de datos {{griselda}}</h5>
      <p class="card-text">Siguiente Informacion contierne los datos obtenidos de la base de datos dvdrental y ADVENTUREWORKS2017</p>
     
        <button id="btnMostrar" name="submit_button" value="Hola bebe" class="btn btn-outline-info">Unir datos</button>
      <button id="submit" name="submit_button" value="Hola bebes" class="btn btn-outline-danger">Borrar datos</button>
      
      
    </div>
    <div class="card-footer text-muted">
     Equipo Desarrollo: Alex Cassio,Hiram Sifuentes y Victor Nava
    </div>
  </div>

<div id="informacion" style="display: none;">
  <div class="table-responsive border-bottom">
    <table id="tbl_cutipa" class="table table-striped table-sm table-hover">
      <thead>
        <tr class="table-primary">
          <th>id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Pais</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>  
      </tbody>
    </table>
    <hr>
    
  </div>
  <hr>
 <canvas class="my-4 w-100" id="gph_cutipa" width="900" height="380"></canvas>
</div>
{% endblock %}
{% block tail_js %}

<script>
  var btn1 = $('#btnMostrar');

  $(document).ready( function () {
    //tabla dde MS-SQL
    var table = $('#tbl_ad').DataTable({
      processing:true,
    ajax:"{{url_for('dMsql')}}",
    columns:[
            { "data": "ID" },
            { "data": "FirstName" },
            { "data": "LastName" },
            { "data": "Country" },
            { "data": "Email" }

    ],
    dom:'Bfrtilp',
    buttons:[

    {
                "extend":'pdfHtml5',
                "text":'<i class="fas fa-file-pdf">&nbsp;PDF</i>',
                "titleAttr":'Exportar a PDF',
                "className":'btn btn-outline-danger'
            },
            {
                "extend":'print',
                "text":'<i class="fas fa-print">&nbsp;Print</i>',
                "titleAttr":'Print',
                "className":'btn btn-outline-info'
            },
            {
                "extend":'excel',
                "text":'<i class="far fa-file-excel">&nbsp;Excel</i>',
                "titleAttr":'excel',
                "className":'btn-outline-success'
            },

    ]
  });
  //tabla Posgresal
  var table2 = $('#tbl_dvd').DataTable({
    processing:true,
    ajax:"{{url_for('dpos')}}",
    columns:[
            { "data": "ID" },
            { "data": "FirstName" },
            { "data": "LastName" },
            { "data": "Country" },
            { "data": "Email" }

    ],
    dom:'Bfrtilp',
    buttons:[

    {
                "extend":'pdfHtml5',
                "text":'<i class="fas fa-file-pdf">&nbsp;PDF</i>',
                "titleAttr":'Exportar a PDF',
                "className":'btn btn-outline-danger'
            },
            {
                "extend":'print',
                "text":'<i class="fas fa-print">&nbsp;Print</i>',
                "titleAttr":'Print',
                "className":'btn btn-outline-info'
            },
            {
                "extend":'excel',
                "text":'<i class="far fa-file-excel">&nbsp;Excel</i>',
                "titleAttr":'excel',
                "className":'btn-outline-success'
            },
    ]
  });

btn1.on("click", function(){
  mostrarDatos();
  $('#informacion').show();
});

  });//final

function mostrarDatos() {
  //Tabla de analisis con los datos unidos
  var table2 = $('#tbl_cutipa').DataTable({
    processing:true,
    ajax:"{{url_for('dcorporado')}}",
    columns:[
            { "data": "ID" },
            { "data": "firstName" },
            { "data": "lastName" },
            { "data": "country" },
            { "data": "email" },
            { "data": "phone" }

    ],
    dom:'Bfrtilp',
    buttons:[

    {
                "extend":'pdfHtml5',
                "text":'<i class="fas fa-file-pdf">&nbsp;PDF</i>',
                "titleAttr":'Exportar a PDF',
                "className":'btn btn-outline-danger'
            },
            {
                "extend":'print',
                "text":'<i class="fas fa-print">&nbsp;Print</i>',
                "titleAttr":'Print',
                "className":'btn btn-outline-info'
            },
            {
                "extend":'excel',
                "text":'<i class="far fa-file-excel">&nbsp;Excel</i>',
                "titleAttr":'excel',
                "className":'btn-outline-success'
            },
    ]
  });

}



</script>

{% endblock %}