<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Checkout example · Bootstrap</title>
  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Favicons -->
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
</head>

<body class="bg">
  <div class="container">
    <div class="m-4 text-right">
      <!-- <img src=" {{logo}}" alt="" height="100" width="100"> -->
    </div>
    <div class="py-2 text-center">    
      <h2>Reporte de Analisis de datos</h2>
    </div>
    <table class=" table table-sm table-active">
      <thead>

      </thead>
      <tbody>
        <tr class="border">
          <th scope="row">Nombre del proyecto: Generacion de PDF template con informacion de la base de datos</th>
          <td></td>
          <td></td>
        </tr>
        <tr >
          <th scope="row">Numero de reporte: {{random}} </th>
          <td></td>
          <td>Fecha:{{fechita}}</td>
          <td></td>
        </tr>

      </tbody>
    </table>
    <div class="row border-bottom">
        <div class="col ">
          <h5>{{usernombre}}</h5>
          <h6>Nombre del usuario</h6>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <hr class="dashed">
        <h5>{{emailus}}</h5>
        
        <h6>Correo</h6>
        <hr class="dashed">
      </div>
    
    </div>

    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Tabla Con Los paises con mas numero de clientes</span>
        </h4>
        <table>
         <thead>
           <tr>
             <th>País</th>
             <th>Numeros de Clientes</th>
           </tr>
         </thead>
         <tbody>
       {% for b in numClients %}
          <tr>
            <td>{{b[0]}}</td>
            <td>{{b[1]}}</td>
          </tr>
       {% endfor %}
         </tbody> 
        </table>
      </div>

      <div class="col-md-8 order-md-1">
        <h3 class="mb-3">Objetivo</h3>
        <table class="table table-bordered">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>Nosotros previamente seleccionamos las tablas de cliente de ambas bases datos, con el objetivo buscar una estrategia para las diferentes áreas, en donde no tenga un gran impacto, por ejemplo, como los países con menos clientes de 20 o menos. Además de buscar un patrón en esos países no compiten con los países con mayores clientes. Dar una solución para fortalecer las áreas con menores clientes</td>
            </tr>
            <tr><td>INformacion cliente</td></tr>
          </tbody>
        </table>

        <h3>Fase 2: Preprocesamieto</h3>
      <h4>Conceptos</h4>
      <p>Para poder comenzar a trabajar en la segunda fase se investigó sobre la media, mediana y moda, las cuales son la herramienta necesaria para poder observar que parte es en la que más me conviene trabajar.</p>
        <div class="border-top my-3"></div>
        <div class="card-deck">
          <div class="card  border-primary" style="max-width: 28rem;">
            <h5 class="card-header">Mediana</h5>
            <div class="card-body">
              <h5 class="card-title text-center">{{mediana}}</h5>
            </div>
          </div>
          <div class="card  border-primary" style="max-width: 28rem;">
            <h5 class="card-header">Media</h5>
            <div class="card-body">
              <h5 class="card-title text-center">{{mean}}</h5>
            </div>
          </div>
          <div class="card  border-primary" style="max-width: 28rem;">
            <h5 class="card-header">Moda</h5>
            <div class="card-body">
              <h5 class="card-title text-center">{{modas}}</h5>
            </div>
          </div>
        </div>
        <div class="border-top my-3"></div>
        <p>Basado con la información obtenida podemos decir que hay disparejo de datos muy significativo por lo cual lo mas correcto es tomar mediana, ya que la mediana nos indica mejor el punto central que debemos enfocarnos. Se debe a que hay alrededor de 5 países que tiene un valor arriba 1000 clientes donde Estados unidos cuenta con 7879 clientes.</p>
        <div class="text-center">
          <h5>Cantidad de clientes por Pais</h5>
          <!--<img src=" {{mapfoto}}" alt="">-->
        </div>
      </div>
     
    
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2020-2021 PIXIES Inc.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://www.facebook.com/Pokw12">Privacy</a></li>
        <li class="list-inline-item"><a href="https://www.biblia.es/reina-valera-1960.php">Terms</a></li>
        <li class="list-inline-item"><a href="https://www.fundacion-affinity.org/la-fundacion">Support</a></li>
      </ul>
    </footer>
  </div>

</body>

</html>